doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    title S3 Photo Storage Demo
  body
    .page-header
      h1 S3 Photo Storage Demo
    .main-content
      block content

    .footer
      p Demo Service by Linux Academy      